body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f7f7f7;
}

form input, form button {
    margin: 5px;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #eee;
}
